<div class="max-w-2xl sm:text-xl text-lg py-2 px-6 sm:py-6 lg:px-2 w-screen m-auto">
    <div class="flex items-center justify-between mb-3 gap-3 sm:gap-8 sm:mt-4 sm:mb-8 lg:mt-8">
        <h1 class="font-futura text-[32px] sm:text-5xl font-bold whitespace-nowrap">Hi, I am
        </h1>
        <div
            class="inline-block bg-aeris w-[70%] sm:w-full min-h-24 sm:h-32 bg-center bg-no-repeat bg-contain">
        </div>
    </div>
    <div
        class="font-FTLC tracking-wide flex items-start gap-4 lg:gap-7 mb-9 flex-col-reverse sm:flex-row">
        <div class="mt-2 sm:mt-0 flex flex-col gap-4 sm:leading-[1.55] lg:leading-8 leading-[1.5]">
            <p class="flex-[100%] ">
                After graduating with a degree in Info Security, I began my career as a front end
                engineer in Beijing. Now I'm pursuing my master's degree in game programming in Chicago.
                You can check my resume <a target="_blank" class="u"
                    href="https://o.aeriszhu.com/">here</a>.
            </p>
            <p>
                I'm passionate about crafting designs that combine beauty and function, creating
                creative tools. Beyond work, I'm interested in music making,
                <a class="u" target="_blank" href="https://woai.meme/">interactive storytelling</a>,
                3D modeling,
                <a class="u" href="https://aeriszhu.com/pixel-log/" target="_blank">pixel
                    painting</a>, hiking
                and <a class="u" href="/things-i-love">more</a>.

            </p>
        </div>
        <div class="w-full sm:min-w-[41%] sm:w-[41%] sm:mt-2 flex items-center flex-col gap-2 h-full">
            <img src="./assets/me_at_rinjani.webp" alt="me at rinjani"
                class="can_stay w-full h-auto aspect-square">
            <div class="italic text-xs opacity-80">
                me at Rinjani summit in 2024 Nov
            </div>
            <div class="w-[75%] max-w-72 mt-2 sm:mt-0 flex gap-3 items-center justify-between">
                <div x-data="socialIcon({ 
                      link: 'https://github.com/anig1scur/', 
                      iconClass: 'bg-github w-9 h-9 sm:w-7 sm:h-7',
                      tooltipText: '什么时候能天天做喜欢的',
                      tooltipTextEn: 'When can I do what I love every day?'
                    })" class="relative group">
                    <a :href="link" target="_blank"
                        class="hover:scale-110 block transition-all bg-[50%] bg-contain bg-no-repeat"
                        :class="iconClass">
                    </a>
                    <div
                        class="absolute left-1/2 -translate-x-1/2 top-full text-center pt-1 sm:pt-2 px-2 text-[0.6rem] leading-3  sm:leading-4 whitespace-nowrap opacity-0 group-hover:opacity-80 group-hover:translate-y-0 transition-all duration-200">
                        <span x-text="tooltipText"></span>
                        <span x-text="tooltipTextEn" class="block"></span>
                    </div>
                </div>

                <div x-data="socialIcon({ 
                      link: 'https://www.linkedin.com/in/yanxin-zhu/', 
                      iconClass: 'bg-linkedin w-8 h-8 sm:w-6 sm:h-6', 
                      tooltipText: '生活所迫 在这是伪人',
                      tooltipTextEn: 'Life forces me to fake myself here'
                    })" class="relative group">
                    <a :href="link" target="_blank"
                        class="hover:scale-110 block transition-all bg-contain bg-no-repeat"
                        :class="iconClass">
                    </a>
                    <div
                        class="absolute left-1/2 -translate-x-1/2 top-full text-center pt-1 sm:pt-2 px-2 text-[0.6rem] leading-3  sm:leading-4 whitespace-nowrap opacity-0 translate-y-1 group-hover:opacity-80 group-hover:translate-y-0 transition-all duration-200">
                        <span x-text="tooltipText"></span>
                        <span x-text="tooltipTextEn" class="block"></span>
                    </div>
                </div>

                <div x-data="socialIcon({ 
                      link: 'mailto:anigiscur@gmail.com', 
                      iconClass: 'bg-mail w-9 h-9 sm:w-7 sm:h-7', 
                      tooltipText: '真会有人从这里联系吗',
                      tooltipTextEn: 'Will anyone really contact me from here?'
                    })" class="relative group">
                    <a :href="link" target="_blank"
                        class="hover:scale-110 block transition-all bg-[50%] bg-contain bg-no-repeat"
                        :class="iconClass">
                    </a>
                    <div
                        class="absolute left-1/2 -translate-x-1/2 top-full text-center pt-1 sm:pt-2 px-2 text-[0.6rem] leading-3  sm:leading-4 whitespace-nowrap opacity-0 translate-y-1 group-hover:opacity-80 group-hover:translate-y-0 transition-all duration-200">
                        <span x-text="tooltipText"></span>
                        <span x-text="tooltipTextEn" class="block"></span>
                    </div>
                </div>

                <div x-data="socialIcon({
                      link: 'https://www.douban.com/people/168117050/', 
                      iconClass: 'bg-douban w-7 h-7 sm:w-6 sm:h-6',
                      tooltipText: '看那么多总要记一下吧',
                      tooltipTextEn: 'something to look back on when I’m old'
                    })" class="relative group">
                    <a :href="link" target="_blank"
                        class="hover:scale-110 block transition-all bg-contain bg-[50%] bg-no-repeat"
                        :class="iconClass">
                    </a>
                    <div
                        class="absolute left-1/2 -translate-x-1/2  top-full text-center pt-1 sm:pt-2 px-2 text-[0.6rem] leading-3  sm:leading-4 whitespace-nowrap opacity-0 translate-y-1 group-hover:opacity-80 group-hover:translate-y-0 transition-all duration-200">
                        <span x-text="tooltipText"></span>
                        <span x-text="tooltipTextEn" class="block"></span>
                    </div>
                </div>

                <div x-data="socialIcon({ 
                      link: 'https://steamcommunity.com/id/capricious_aeris/', 
                      iconClass: 'bg-steam w-8 h-8 sm:w-6 sm:h-6', 
                      tooltipText: '陪我打游戏！',
                      tooltipTextEn: 'Come play games with me!'
                    })" class="relative group">
                    <a :href="link" target="_blank"
                        class="hover:scale-110 block transition-all bg-contain bg-no-repeat"
                        :class="iconClass">
                    </a>
                    <div
                        class="absolute left-1/2 -translate-x-1/2 top-full text-center pt-1 sm:pt-2 px-2 text-[0.6rem] leading-3  sm:leading-4 whitespace-nowrap opacity-0 translate-y-1 group-hover:opacity-80 group-hover:translate-y-0 transition-all duration-200">
                        <span x-text="tooltipText"></span>
                        <span x-text="tooltipTextEn" class="block"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modules sm:mt-16 2xl:mt-24 mt-6 mb-8 "
        x-intersect:enter.threshold.25="$el.classList.add('visible')"
        x-intersect:leave.threshold.25="$el.classList.remove('visible')">
        <a href="/project"
            class="can_stay inline-block mb-5 bg-project w-[21.5rem] sm:ml-[15%] md:ml-[25%] h-20 bg-[65%] bg-no-repeat bg-contain">
        </a>
        <div class="flex items-center gap-2 justify-between">
            <a href="/adventure"
                class="can_stay inline-block bg-travel mb-4 w-52 sm:w-60 h-24 bg-left bg-no-repeat bg-contain">
            </a>
            <a href="https://blog.aeriszhu.com/" target="_blank"
                class="can_stay mb-10 bg-blog w-[50%] h-20 bg-no-repeat bg-contain">
            </a>
        </div>
        <div class="flex items-center justify-between">
            <a href="/design" class="can_stay w-[40%] h-24 bg-design bg-center bg-no-repeat bg-contain">
            </a>
            <a target="_blank" href="https://memo.aeriszhu.com/"
                class="can_stay w-[30%] h-28 ml-2 sm:ml-4 -mt-20 bg-memo bg-left bg-no-repeat bg-contain">
            </a>
            <a href="/things-i-love"
                class="can_stay w-[35%] h-20 sm:h-14 bg-thingsilove bg-center bg-no-repeat bg-contain">
            </a>
        </div>
    </div>
</div>
